<ion-view id="event-register">

    <ion-content>
        <div class="menu-info row zero flex-v">
           <div class="col-10 col-close"
               ng-click=""
           >
               <i class="ion-android-arrow-back"></i>
           </div>
           <div class="col col-title zero">
               <p class="zero center">
                    이벤트 응모
               </p>
           </div>
        </div>

        <div class="title-section section">
            <h2 class="zero title-text">
                Hungers 이자카야 상품권{{}}
            </h2>
            <p class="zero summary-text">
                상품권 응모
            </p>
            <p class="zero date-text">
                응모기간: 2014.07.13 ~2015.07.20
            </p>
        </div>

        <div class="input-section section">
            <div class="row zero row-name">
                <div class="col-20 flex-v">
                    <p class="zero input-title"> 이름</p>
                </div>
                <div class="col-60 flex-v">
                    <input type="text" class="input input-name">
                </div>
            </div>

            <div class="row zero row-contact">
                <div class="col-20 flex-v">
                    <p class="zero input-title"> 연락처</p>
                </div>
                <div class="col-60 flex-v">
                    <input type="number" class="input input-contact">
                </div>
            </div>
            <p class="zero subtle-text">
                무려권을 받으실 연락처를 입력해주세요. <br>
                19세 이상만 응모가 가능합니다.
            </p>
        </div>

        <div class="agree-section">
            <div class="row zero row-agree">
                <div class="col-20 col-tick-icon flex"
                    ng-click=""
                >
                    <i class="tick-icon"></i>
                </div>
                <div class="col-50 col-description flex-v">
                    <p class="zero description-text">
                        개인정보 수집 및 이용, <br>
                        위치정보의 이용약관에 동의
                    </p>
                </div>
                <div class="col-30 col-look flex"
                    ng-click=""
                >
                    <p class="zero look-text">
                        약관보기
                    </p>
                </div>
            </div>
        </div>

        <div class="row-button row flex">
            <div class="col-45 flex col-button radius">
                <p class="zero button-text"> 이벤트 응모</p>
            </div>
        </div>

    </ion-content>
</ion-view>
