#location {
    .row + .row {
        margin-top: 0;
    }
    .has-subheader {
        background: $very-light;


        .subway {
            background: white;
            height: 70vw;
            width: 97%;
            margin: 0 auto {
                top: 3vw;
            };
            padding-top: 4vw;
            .subway-title {
                font-size: 5.5vw;
                line-height: 5.5vw;
                margin: {
                    left: 5vw;
                }
            }
            .subway-sub {
                font-size: 3.5vw;
                line-height: 7vw;
                margin-left: 5vw;
                color: $dark-grey;
            }
            .subway-map-container {
                width: 83vw;
                margin: 0 auto {
                    top: 2.5vw;
                };
                .row-subway-map {
                    .col-circle {
                        -webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;
                        -webkit-flex: 0 0 20vw;-ms-flex: 0 0 20vw;flex: 0 0 20vw;
                        height: 20vw;
                        border-radius: 100%;
                        .circle-text, .circle-number {
                            font-weight: bold;
                            font-size: 3.5vw;
                            line-height: 4vw;
                        }
                    }
                    .col-circle-inactive {
                        border: 4px solid $dark-grey !important;
                        .circle-number {
                            display: none;
                        }
                        .circle-text {
                            line-height: 3.5vw;
                            font-weight: normal;
                            color: $grey;
                        }
                    }
                    .col-line {
                        .line {
                            width: 8.8vw;
                            margin: {
                                left: 1vw;
                                right: 1vw;
                            }
                        }
                    }
                }
                .row-subway-map-second {
                    height: 7vw;
                    .col-vertical {
                        -webkit-flex: 0 0 20vw;-ms-flex: 0 0 20vw;flex: 0 0 20vw;
                        height: 7vw;
                        .vertical-line {
                            height: 4vw;
                        }
                    }
                }
            }
        } // subway ends

        .subway-north {
            .subway-title {
                color: #378df4
            }
            .col-circle {
                border: 4px solid #378df4;
            }
            .col-line {
                .line {
                    border: 2px solid #378df4;
                }
            }
            .vertical-line {
                border: 2px solid #378df4;
            }
        }
        .subway-south {
            .subway-title {
                color: #11a412;
            }
            .col-circle {
                border: 4px solid #11a412;
            }
            .col-line {
                .line {
                    border: 2px solid #11a412;
                }
            }
            .vertical-line {
                border: 2px solid #11a412;
            }
        }
    }
}
